/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/*navbar*/
.nav{
  padding-right: 60px;
}
.navbar-brand{font-family: 'Oswald', sans-serif;
padding-left: 30px;
}
.nav-link{
 
  font-family: 'Oswald', sans-serif;
}
.nav-item{
  padding-right: 40px;
}
#main{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #675AFE;
  font-family: 'Poppins', sans-serif;
}
#main h1{
  font-size: large;
}